/* @media */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$primary-font: "Source Sans Pro", "Arial", sans-serif;
$secondary-font: "Merriweather", "Arial", sans-serif;
$background-color: #f2f1f0;
$footer-background-color: #ded9d5;
$base-color: #40393b;
$h1-color: #59313b;
$button-color: #fafafa;
$transparent-color: transparent;

$light-font: 300;
$regular-font: 400;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
