.footer {
	grid-row: 3 / 4;
	background-color: $footer-background-color;
	padding-top: 80px;
	padding-bottom: 80px;
}

.footer__wrapper {
	display: grid;
	grid-template-columns: 177px auto 110px;
	align-items: center;
}

.footer__list {
	margin-left: 250px;
}