.footer {
	grid-row: 3 / 4;
	background-color: $footer-background-color;
	padding-top: 80px;
	padding-bottom: 80px;
}

.footer__wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-column-gap: 60px;
	align-items: center;
}

.footer__logo {
	justify-self: start;
}

.footer__navigation {
	justify-self: center;
}