.social {
	justify-self: end;
}

.social__list {
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
}

.social__item {
	margin-right: 25px;
	min-height: 25px;
	display: flex;
	align-items: center;

	&:last-child {
		margin-right: 0;
	}
}

.social__icon {
	display: block;
}

.social__link {
	display: block;
	width: 20px;
	height: 20px;
}